<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh8>
  </head>
  <body>
    <nav class="navbar navbar-expand navbar-light bg-light m-2 p-2">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="/upload">Upload a zip file</a></li>
        <li class="nav-item"><a class="nav-link" href="/translated">View translations</a></li>
      </ul>
    </nav>
    <section class="content m-2 p-2">
      {% block content %}{% endblock %}
    </section>
  </body>
</html>